ErrorDocument 404 /index.html

<IfModule mod_rewrite.c>
  RewriteEngine On RewriteBase /tu_nombre_de_repositorio/ RewriteRule
  ^index\.html$ - [L] RewriteCond %{REQUEST_FILENAME} !-f RewriteCond
  %{REQUEST_FILENAME} !-d RewriteRule . /tu_nombre_de_repositorio/index.html [L]
</IfModule>
