ErrorDocument 404 /index.html
<IfModule mod_rewrite.c>
  RewriteEngine On RewriteBase /countryApp/ RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /countryApp/index.html [L]
</IfModule>
